name: Build and push Docker hub image
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    build_push_hub:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: setup docker buildx
              uses: docker/setup-buildx-action@v3
            - name: login to docker hub
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}
            - name: build and push Docker image
              uses: docker/build-push-action@v5
              with: 
                context: .
                push: true
                tags: |
                    unforsaken69/devops-lab:latest
                    unforsaken69/devops-lab:v1.0.0