name: CI Test on Development Branches

on:
  push:
    branches:
      - develop
      - feature/**
      - hotfix/**

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t devops-lab .

      - name: Run tests inside Docker container
        run: |
          docker run --rm -v ${{ github.workspace }}:/app devops-lab

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: report.html
