name: Windows CI - Pytest

on:
    push:
        branches: [master,main]
    pull_request:
        branches: [master,main]
jobs:
    test1:
        name: Test on ${{matrix.os}}
        runs-on: ${{matrix.os}}
        strategy:
          matrix:
            os: [ubuntu-latest,windows-latest]
        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: setup python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            - name: install modules
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            - name: run test
              run: |
                pytest --maxfail=1 --disable-warnings --html=report-${{matrix.os}}.html
            - name: upload report
              uses: actions/upload-artifact@v4
              with:
                name: pytest-report-${{matrix.os}}
                path: report-${{matrix.os}}.html